@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


#AscensionTitle {
    color: white;
    font-size: 95px;
    text-align: center;
    padding-top: 10px;
    
}

#Logo {
    height: 85px;
    padding-left: 840px;
    position: relative;
    top: 127px;
    
}

#BG {
    background-image: url(../Assets/BG2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: "100vh";
    position: relative;
}